{{define "bottom"}}
</main>
<footer>
    <ul>
        <li><a href="https://sean-crim.com">My Site</a></li>
        <li><a href="https://github.com/seancrim23">GitHub</a></li>
    </ul>
</footer>
</body>
</html>
{{end}}